
#modal {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: $grey;
    color: $d-white;
    font-size: 2rem;
    z-index: 9999;
    visibility: hidden; opacity: 0;
    transition: opacity 0.25s;
    transition-delay: visibility 0.25s;
    @include flex-align;
    
    &.open   { visibility: visible; opacity: 1; }
    &.hidden { visibility: hidden;  opacity: 0; }
}